* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background: linear-gradient(
    180deg,
    #a0cdf7 0%,
    #86b9e9 84.9%,
    #9ac9f5 99.99%
  );
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: -1;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: left;
  cursor: pointer;
  text-decoration: none;

  background: linear-gradient(180deg, #128dff 0%, #00243f 100%);
  border-radius: 65px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.nav__links {
  color: white;
  transition: all 0.3s ease;
}

/* Width Screen do SamsungFE20 do aluno Alexandre Costa */
@media screen and (max-width: 1080px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1100px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: auto;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: white;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    height: auto;
    font-size: xx-small;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }
}

/* Seccção inicial, primeira pagina do site */
.initial {
  background: linear-gradient(
    180deg,
    #a0cdf7 0%,
    #86b9e9 84.9%,
    #9ac9f5 99.99%
  );
  padding: 200px 0;
}

.initial__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  text-align: center;
  padding: 30px;
}

.initial__header {
  font-size: 64px;
  margin-bottom: 24px;
  color: #fff;
}

.initial__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 77px;
  color: #ffffff;
}

@media screen and (max-width: 960px) {
  .initial__container {
    font-size: 60px;
  }
}

/* Seccção sobre nós */

.main {
  background-color: #9ac9f5;
  padding: 10rem 0;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1280px;
  padding: 0 50px;
}

.main__content {
  color: white;
  width: 100%;
}

.main__content h1 {
  font-size: 3rem;
  background-color: #9ac9f5;
  background-image: linear-gradient(
    to top,
    #bec9d3 0%,
    #fefefe 18.9%,
    #c9d7e4 99.99%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.main__content h2 {
  font-size: 2.5rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.main__content p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.main__image__container {
  text-align: left;
}

#img1 {
  width: 80%;
}

/* Para o Mobile */
@media screen and (max-width: 1100px) {
  .main__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main__img__container {
    display: flex;
    justify-content: center;
  }

  .main__img__card {
    height: 125px;
    width: 125px;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main__img__card {
    width: 250px;
    height: 250px;
  }

  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
  }
}

/* Seccção Serviços */

.services {
  background: #9ac9f5;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: auto;
}

.services__container h1 {
  font-size: 3.5rem;
  background-color: #9ac9f5;
  background-image: linear-gradient(
    to top,
    #bec9d3 0%,
    #fefefe 18.9%,
    #c9d7e4 99.99%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.services__content h2 {
  font-size: 1.5rem;
  color: white;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.mybutton {
  background: #2453ae !important;
  border-radius: 65px !important;
  text-align: center !important;
}

span.newsonmove1 {
  color:white;
  box-sizing: border-box;
  font-size: 36px;
  font-family: Arial;
  font-weight: 400;
  line-height: 61.2px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: right;
  text-rendering: optimizeLegibility;
  text-size-adjust: auto;
}

.final_menu_esquerdo {
  color: white;
  text-align: left;
  -webkit-box-pack: end;
  -webkit-justify-content: flex end;
  justify-content: flex-end;
}

.final_menu_meio {
  color: white;
  text-align: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex end;
  justify-content: flex-end;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.final_menu_direita {
  color: white;
  text-align: right;
  -webkit-box-pack: end;
  -webkit-justify-content: flex end;
  justify-content: flex-end;
  position: absolute;
  left: 90%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.final_menu_esquerda {
  -webkit-box-flex: 1;
  flex:1;
}

.final_menu_meio {
  -webkit-box-flex: 1;
  flex:1;
}

.final_menu_direita {
  -webkit-box-flex: 1;
  flex:1;
}

.final{
  display: flex;
  margin-bottom: 0;
}

#linha{
  color: white;
    margin: 0;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#linha1{
  color: white;
    margin: 0;
    background: white;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.pic{

  position: relative;
  height: 25rem;
  border-radius: 10px;
  box-shadow: 2px 6px 10px;
  width: 90%;
}
.pic img{
  max-width: 100%;
  height: 100%;

}
.pic::before{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  margin-top: -100px;
  opacity: 0;
  transition: .3s;
  transition-delay: .2s;
  z-index: 1;
  letter-spacing: 0.2rem;
}
.pic::after{
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  height: 0;
  background-color: rgba(15, 15, 15, 0.904);
  transition: 0.3s;
}
.pic:hover::after{
  height: 100%;
}
.pic:hover::before{
  margin-top: 0;
  opacity: 1;
}

/*
.pic img1{
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
*/

#img1{
  width: 100%;
}

#img1::before{
  content: "Através";
  white-space: pre;
}

.navbar__container{
  font-size: 20px;
  font-family: Arial;
  font-weight: 350;
}

#navtext{
  font-size: 15px;
}

#corfooter{
  background-color: #9ac9f5;
  overflow: hidden
}

