* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background: linear-gradient(
    180deg,
    #a0cdf7 0%,
    #86b9e9 84.9%,
    #9ac9f5 99.99%
  );
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: -1;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: left;
  cursor: pointer;
  text-decoration: none;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #2b63bd;
  background: -webkit-linear-gradient(to right, #45eafc, #267fb2, #1b0676);
  background: linear-gradient(to right, #45eafc, #267fb2, #1b0676);
  color: #fff;
  transition: all 0.3s ease;
}

.nav__links {
  color: white;
  transition: all 0.3s ease;
}

/* Width Screen do SamsungFE20 do aluno Alexandre Costa */
@media screen and (max-width: 1080px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1100px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: auto;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: white;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    height: auto;
    font-size: xx-small;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }
}

/* Seccção inicial, primeira pagina do site */
.initial {
  background: linear-gradient(
    180deg,
    #a0cdf7 0%,
    #86b9e9 84.9%,
    #9ac9f5 99.99%
  );
  padding: 200px 0;
}

.initial__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  text-align: center;
  padding: 30px;
}

.initial__header {
  font-size: 64px;
  margin-bottom: 24px;
  color: #fff;
}

.initial__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 77px;
  color: #ffffff;
}

@media screen and (max-width: 960px) {
  .initial__container {
    font-size: 60px;
  }
}

/* Seccção sobre nós */

.main {
  background-color: #9ac9f5;
  padding: auto;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1280px;
  padding: auto;
}

.main__content {
  color: white;
  width: 100%;
}

.main__content h1 {
  font-size: 2rem;
  background-color: #9ac9f5;
  background-image: linear-gradient(to top,#545d66 0%,
  #86b9e9 18.9%,
  #7da3c6 99.99%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.main__content h2 {
  font-size: 3rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  
}

.main__content p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.main__image__container {
  text-align: left;
}

.main__image__card {
  margin: 10px;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  display: left;
  flex-direction: row-reverse;
  justify-content: left;
  color: #fff;
}

.services_container{
  
}

